<banner></banner>
<!-- About -->
<section class="about-me">
    <h3 class="text-center section-heading" data-aos="fade-up">About Me</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="mydetails text-center" data-aos="fade-up">
                    <img class="img-circle img-responsive" src="../assets/images/avatar.jpg" alt="avatar-img" width="200" height="200">
                    <h3>Flora Chen | 陈琦雯</h3>
                    <p>Front-End Developer</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/flora.qiwen.chen" target="_blank"><span class="facebook"></span></a>
                        <a href="https://github.com/foamfly" target="_blank"><span class="github"></span></a>
                        <a href="https://www.linkedin.com/in/qiwenchen/" target="_blank"><span class="linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="description" data-aos="fade-up">
                    <h3>HEY THERE, </h3>
                    <p>I am Flora Chen. I am a Front-End Developer. I come from Shanghai, China, currently based in Boston, US.</p>
                    <ul class="role-list">
                        <li>An engineer 👩🏻‍💻 with design mind.</li>
                        <li>A web developer with passions and creativity.</li>
                        <li>A young girl loves coding, World of Warcraft 👹, Nitendo, and of course, lipsticks 💅 and beautiful dresses 👗. </li>
                    </ul>
                    <p>Besides coding, I also love watching movies 🎞️ and writing reviews. <a href="https://www.douban.com/people/foamfly/reviews/" target="_blank">Check out my reviews here</a> (Sorry the articles are in Chinese).</p>
                </div>
            </div>
        </div>
    </div>
</section>

<timeline></timeline>