<div class="contact-me">
    <h3 class="text-center section-heading" data-aos="fade-down">Contact Me</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-left">
                <div class="contact-info">
                    <p>If you would love to bring me new career opportunities, please connect through Facebook, LinkedIn Or Email Directly.</p>
                    <div class="footer-info">
                        <div>
                            <p class="social">
                                <a href="https://www.facebook.com/flora.qiwen.chen" target="_blank">
                                    <img src="./assets/images/facebook.png" class="social-icon"> Connect on Facebook</a>
                            </p>
                            <p class="social">
                                <a href="https://www.linkedin.com/in/qiwenchen/" target="_blank">
                                    <img src="./assets/images/linkedin.png" class="social-icon"> Connect on LinkedIn</a>
                            </p>
                        </div>

                        <div>
                            <p class="social">
                                <a href="mailto:qiwenchen06@gmail.com"><img src="./assets/images/mail.png" class="social-icon"> qiwenchen06@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <p>If you would love to discuss movies with me (and you understand Chinese), please visit my Douban account.</p>
                    <div class="footer-info">
                        <div>
                            <p class="social">
                                <a href="https://www.douban.com/people/foamfly/reviews" target="_blank">
                                    <span class="douban">豆</span> Visit my Douban</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 hidden-sm" data-aos="fade-right">
                <img class="img-responsive" style="width: 100%;height:auto" src="../assets/images/contact.jpg">
            </div>
        </div>
    </div>
</div>