<div class="myportfolio">
    <h3 class="text-center" data-aos="fade-down">My Portfolio</h3>
    <p class="text-center" data-aos="fade-down">My Recent Projects , Just "Click" on them to know More.</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div data-aos="fade-right" class="portfolio-item">
                    <a data-toggle="modal" data-target="#full-circle">
                        <div class="hover">
                            <img src="../assets/images/1.jpg" alt="img01" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div data-aos="fade-up" class="portfolio-item">
                    <a data-toggle="modal" data-target="#interlock">
                        <img src="../assets/images/2.jpg" alt="faith" />
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div data-aos="fade-left" class="portfolio-item">
                    <a data-toggle="modal" data-target="#faith">
                        <img src="../assets/images/3.jpg" alt="img01" />
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="text-center" data-aos="fade-right">
                    <h3 class="sub-sub-heading">Other Projects</h3>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="project-container-text" data-aos="fade-left">
                    <h4>Interactive Data Visualization <a href="http://foamfly.github.io/DataVisFinal/index.html"><i class="fa fa-external-link" aria-hidden="true"></i></a></h4>
                    <p>Designed website to visualize data of JAVA API BigArray List through D3.js. Implemented a sunburst chart, a line chart and two table charts with different colors and styles by CSS and D3.js.</p>
                    <p><span class="keywords">JavaScript</span> <span class="keywords">D3.js</span></p>
                </div>
                <div class="project-container-text" data-aos="fade-left">
                    <h4>Instant Speedo: File-sharing APP on Android <a href="https://www.youtube.com/watch?v=qNrx_23raM4" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></h4>
                    <p>Designed an Android application based on ad-hoc wireless sharing which allows users to share files in group without the need for active internet access or data consumption.</p>
                    <p><span class="keywords">JAVA</span> <span class="keywords">Android Studio</span></p>
                </div>
                <div class="project-container-text" data-aos="fade-left">
                    <h4>Statistical GLCM Texture Features for Classifying Food Images <a href="http://ieeexplore.ieee.org/abstract/document/7349732/?reload=true" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></h4>
                    <p>
                        Developed (Design, implementation and testing) a food image recognition algorithm with MATLAB & JAVA OPENCV. Compared and chose SIFT features over Statistical GLCM Texture Features. Extended abstract was accepted by IEEE ICHI 2015.
                    </p>
                    <p><span class="keywords">OpenCV</span> <span class="keywords">JAVA</span> <span class="keywords">GLCM</span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Full-Circle Talent -->
<div class="portfolio-modal modal fade" id="full-circle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4>Full-Circle Talent</h4>
                    <ul class="list-inline">
                        <li>Full-Circle Talent Inc.</li>
                        <li>Waltham MA 2017</li>
                    </ul>
                    <p>I joined Full-Circle Talent team from the very beginning, building the whole web application from nowhere, including prototype design and coding the whole website out. </p>
                    <br>
                    <p>Projects includes Candidate system, Internal Administration system and Employer Administration system.</p>
                    <br>
                    <p><span class="keywords">BackboneJS</span> <span class="keywords">Angular 2</span> <span class="keywords">Typescript</span></p>
                    <p><span class="keywords">JAVA</span> <span class="keywords">Maven</span> <span class="keywords">REST</span></p>
                    <br>
                    <p>Click to visit <a href="https://www.fullcircletalent.com" target="_blank">Full-Circle Talent</a></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="img-responsive img-centered" src="../assets/images/1-1.jpg" alt="1-1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn lg btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="faith" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">

                    <h4>Faith In the Big House</h4>
                    <ul class="list-inline">
                        <li>Interlock Media Inc</li>
                        <li>Cambridge MA 2016</li>
                    </ul>
                    <p>Develped and the website for 'Faith In the Big House', A documentary movie by Interlock Media. A simple website refresh.</p>
                    <br>
                    <p><strong>Front-End Keywords: </strong> Bootstrap, JQuery</p>
                    <br>
                    <p>Click to visit <a href="http://www.faithinthebighouse.com" target="blank">Faith In the Big House</a>.</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="img-responsive img-centered" src="../assets/images/3-3.jpg" alt="">
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- File-sharing APP -->
<div class="portfolio-modal modal fade" id="interlock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4>Interlock Media Website Refresh</h4>
                    <ul class="list-inline">
                        <li>Interlock Media Inc.</li>
                        <li>Cambridge MA 2016</li>
                    </ul>
                    <p>Redesigned and developed the website of Interlock Media, a non-profit film production organization. I was responsible for the whole processing of Web development, including task distribution and processing handling. </p>
                    <br>
                    <p>Projects includes Candidate system, Internal Administration system and Employer Administration system.</p>
                    <br>
                    <p><span class="keywords">JavaScript</span> <span class="keywords">jQuery</span> <span class="keywords">Bootstrap</span> <span class="keywords">Responsive Design</span></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="img-responsive img-centered" src="../assets/images/2-2.jpg" alt="interlock">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn lg btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                </div>
            </div>
        </div>
    </div>
</div>