<div class="banner">
    <ul class="rslides">
        <li>
            <div class="banner-info">
                <h3 data-aos="fade-left">Hello! 你好！</h3>
                <span class="line1"></span>
                <p data-aos="fade-right">I am Flora Chen.</p>
                <p data-aos="fade-left">I am a Front-End Engineer.</p>
                <span class="line2"></span>
                <div class="social-icons">
                    <a href="https://www.facebook.com/flora.qiwen.chen" target="_blank"><span class="facebook"></span></a>
                    <a href="https://github.com/foamfly" target="_blank"><span class="github"></span></a>
                    <a href="https://www.linkedin.com/in/qiwenchen/" target="_blank"><span class="linkedin"></span></a>
                </div>
            </div>
        </li>

    </ul>
</div>