.copyright {
    margin-top: 20px;
}

.copyright p a {
    text-decoration: none;
    color: #8C8C8C;
}

.copyright p {
    color: #8C8C8C;
    padding: 5px 0 17px;
    font-weight: 400;
    font-size: 15px;
}